{% extends 'vacancies/base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Вакансия | Джуманджи{% endblock %}

{% block content %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="{% url 'home' %}">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ this_vacancy.title }}</h1>
            <p class="m-0 pl-3">{{ this_vacancy.salary_min }} – {{ this_vacancy.salary_max }} Р</p>
          </div>
          <p class="mt-2">{{ this_vacancy.skills }}</p>
          <p class="text-muted mb-4">{{ this_vacancy.company.name }} ({{ this_vacancy.company.employee_count }} человек), {{ this_vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            {{ this_vacancy.description|safe }}
          </div>
          <form action="" method="post" class="card mt-4 mb-3" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
                {{ form|crispy }}
              <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
            </div>
          </form>
        </section>
      </div>
    </div>
  </main>
{% endblock %}